{% extends 'online_course/base.html' %}
{% load static %}
{% block content %}
    <div class="card" style="width: 18rem;">
        <form method="POST">
            {% csrf_token %}
            <label for="title"></label>
            <input id="title" placeholder="Title" name="title"><br><br>

            <label for="description"></label>
            <input id="description" placeholder="Description" name="description"><br><br>

            <label for="price"></label>
            <input type="number" id="price" placeholder="Price" name="price"><br><br>

            <label for="rating"></label>
            <input type="number" id="rating" placeholder="rating" name="rating"><br><br>


            <label for="image"></label>
            <input type="file" id="image" placeholder="image" name="image"><br><br>

            <button type="submit">Add</button>
        </form>
    </div>
{% endblock %}