{% extends 'online_course/base.html' %}
{% load static %}
{% block content %}
    <div class="card" style="width: 18rem;">
        <form method="POST">
            {% csrf_token %}
            <label for="title"></label>
            <input id="title" placeholder="Title" name="title" value="{{ course.title }}"><br><br>

            <label for="description"></label>
            <input id="description" placeholder="Description" name="description" value="{{ course.description }}"><br><br>

            <label for="price"></label>
            <input type="number" id="price" placeholder="Price" name="price" value="{{ course.price }}"><br><br>
            <button type="submit">Update</button>
        </form>
    </div>
{% endblock %}